@use "./vars" as *;
@use "./mixins" as m;

.container {
  margin: 0 auto;
  padding: 0 50px;
  width: 100%;
  @include m.bp-xl {
    padding: 0 30px;
  }
  @include m.bp-md {
    padding: 0 20px;
  }
}
.ibg {
  position: relative;
  & img,
  & iframe,
  & video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

video,
img {
  user-select: none;
}
img {
  pointer-events: none;
}

body.is-safari input {
  border-radius: 0 !important;
}

html._touch body.lock {
  overflow: hidden;
}

.v-toast {
  padding: 50px;
  padding-top: var(--header-height);
  z-index: 30;
  @include m.bp-xl {
    padding: 30px;
    padding-top: var(--header-height);
  }
  @include m.bp-md {
    padding: 16px;
    padding-top: var(--header-height);
  }
}
.v-toast__item {
  min-height: auto;
}
.v-toast__item .v-toast__icon {
  display: none;
}
.v-toast__item .v-toast__text {
  padding: 0;
}

.app-cart-popup {
  // position: fixed;
  // top: var(--header-height);
  // right: 50px;
  width: 300px;
  min-height: 112px;
  color: var(--bg-white);
  background-color: var(--bg-smoke);
  // opacity: 0;
  // pointer-events: none;
  // z-index: 30;
  // transition: opacity $time ease-in-out 0s;
  &.active {
    opacity: 1;
  }
  @include m.bp-xl {
    right: 30px;
  }
  @include m.bp-md {
    right: 16px;
    min-height: fit-content;
    width: 250px;
  }
  // .app-cart-popup__body
  &__body {
    display: grid;
    grid-template-columns: 68px 1fr;
    align-items: center;
    gap: 20px;
    grid-template-areas: "img content";
    padding: 16px;
    @include m.bp-md {
      padding: 8px;
      grid-template-columns: 60px 1fr;
      align-items: start;
      gap: 10px;
    }
  }
  // .app-cart-popup__image
  &__image {
    grid-area: img;
    height: 80px;
    width: 100%;
    & img {
      width: 100%;
      height: 100%;
      @include m.bp-md {
        position: absolute;
        inset: 0;
      }
    }
    @include m.bp-md {
      height: 100%;
      position: relative;
    }
  }
  // .app-cart-popup__content
  &__content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  // .app-cart-popup__caption
  &__caption {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 6px;
  }
  // .app-cart-popup__title
  &__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
  }
  // .app-cart-popup__volume
  &__volume {
    font-size: 14px;
    line-height: 18px;
  }
}
