@font-face {
	font-family: 'FoglihtenNo06';
	src: url('/fonts/FoglihtenNo06.woff2') format('woff2'),
		url('/fonts/FoglihtenNo06.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Mulish';
	src: url('/fonts/Mulish-Regular.woff2') format('woff2'),
		url('/fonts/Mulish-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Mulish';
	src: url('/fonts/Mulish-Medium.woff2') format('woff2'),
		url('/fonts/Mulish-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Mulish';
	src: url('/fonts/Mulish-Bold.woff2') format('woff2'),
		url('/fonts/Mulish-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}